html, body {
    margin: 0;
    height: 100%;
    font-size: 100%;
}
* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en";
}

html {
    display: block;
}
* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

head {
    display: none;
}
html, body {
    margin: 0;
    height: 100%;
    font-size: 100%;
}

body {
    display: block;
    margin: 8px;
}

div {
    display: block;
}

